body {
	font-family: "Times New Roman", Times, serif;
	font-size: 36px;
	background-color: #e3f4ff;
	display: flex;
	justify-content: center;
	background-color: rgb(256, 256, 256);
}
ol {
	color: #370437;
	width: 700px;
	margin-top: 200px;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 36px;
	list-style-type: upper-roman;
	background-color: plum;
	border: 5px solid indigo;
	border-radius: 30px;
}
